{% extends 'base.html' %}


{%load static%}
      {% block content %}
      <div class="card mb-3" style="width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'img/Screenshot (19).png' %}" class="img-fluid rounded-start">
            
          </div>
          <div class="col-md-8" style="width: 50%; text-align: center; font-size: 30; margin-left: 100;">
            <div class="card-body"  >
              <h5 class="card-title" style="font-size: 130;">About Us</h5>
              <p class="card-text" >At Joshi Infotech, we believe in empowering individuals with the skills and knowledge
                required to thrive in today’s competitive IT landscape. Whether you’re a beginner taking your first step
                into the tech world or a professional looking to upgrade your skills, we offer tailored courses designed to
                meet your needs and career aspirations.</p>
              
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
                   
  
